body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgb(30, 83, 136) 38%, rgb(100, 21, 90) 68%, rgb(99, 61, 240) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgba(177, 24, 139, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}


#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}

.note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0.15);
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.add-note {
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 120px;
    color: black;
    cursor: pointer;
    transition: background 0.2s;
}

.add-note:hover {
    background: rgba(0, 0, 0, 0.2);
}

.container {
    display: inline-block;
    cursor: pointer;
  }

#Datanotes {
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0.15);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2cm;
    padding-right: 2cm;
    padding-left: 2cm;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #432a9e
    
    
    
}

.menu-button-links {
    margin: 0;
    font-size: 110%;
    padding-left: .7cm;
    padding-top: 0cm;
    padding-bottom: 2cm;
  }
  
  .menu-button-links button {
    margin: 0;
    padding: 6px;
    display: inline-block;
    position: relative;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    font-size: 0.9em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .menu-button-links [role="menu"] {
    margin: 0;
    padding: 7px 4px;
    list-style: none;
    display: none;
    position: absolute;
    border: 2px solid #1b1b1b;
    border-radius: 5px;
    background-color: #eee;
  }
  
  .menu-button-links [role="menuitem"],
  .menu-button-links [role="separator"] {
    margin: 0;
    padding: 6px;
    display: block;
    width: 24em;
    background-color: #eee;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .menu-button-links [role="separator"] {
    padding-top: 3px;
    background-image: url("../images/separator.svg");
    background-position: center;
    background-repeat: repeat-x;
  }
  
  .menu-button-links button svg.down {
    padding-left: 0.125em;
    fill: currentcolor;
    stroke: currentcolor;
  }
  
  .menu-button-links button[aria-expanded="true"] svg.down {
    transform: rotate(180deg);
  }
  
  /* focus styling */
  
  .menu-button-links button:hover,
  .menu-button-links button:focus,
  .menu-button-links button[aria-expanded="true"] {
    padding: 4px;
    border: 3px solid #1b1b1b;
    background: #eee;
    color: #222;
    outline: none;
    margin: 0;
  }
  
  .menu-button-links [role="menuitem"]:focus {
    padding: 4px;
    border: 2px solid #1b1b1b;
    background: #1b1b1b;
    color: #fff;
    outline: none;
    margin: 0;
  }

  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  

  
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    margin-left: 2ch;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #1a1970, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

  
